# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
musicenv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db